{% extends 'index.html' %}
{% block content %}

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>
</head>

<div class="row">
    <ul class="col s7 collapsible popout" data-collapsible="accordion" style="margin-left:5%;">
        <li>
            <div class="collapsible-header egg-white"><i class="material-icons">add_circle</i>Add Raw Material</div>
            <div class="collapsible-body home-page-card">
                <span>
                    <div class="section"></div>
                    <main>
                        <center>
                            <div class="container">
                                <div class="z-depth-1 egg-white row"
                                    style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                                    <form class="col s12" name="raw" action="/addtxn" method="post">
                                        <div class='row'>
                                            <div class='col s12'>
                                            </div>
                                        </div>

                                        

                                        <div class='row'>
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='text' name='raw_product' id='raw_product' />
                                                <label for='raw_product'>Enter the product name</label>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='number' name='raw_product_quantity' id='raw_product_quantity' />
                                                <label for='raw_product_quantity'>Enter the quantity produced</label>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='text' name='raw_product_unit' id='raw_product_unit' />
                                                <label for='raw_product_unit'>Enter the unit (kg, L, etc)</label>
                                            </div>
                                        </div>
                                        <br />
                                        <center>
                                            <div class='row'>
                                                <button type='submit' name='btn_raw'
                                                    class='col s12 btn btn-large waves-effect grey darken-3'>Add
                                                    Transaction</button>
                                            </div>
                                        </center>
                                        <input type="hidden" id="formname" name="formname" value="raw">
                                    </form>
                                </div>
                            </div>
                        </center>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header egg-white"><i class="material-icons">add_circle</i>Add a Purchase</div>
            <div class="collapsible-body home-page-card">
                <span>
                    <div class="section"></div>
                    <main>
                        <center>
                            <div class="row">
                            <div class="col s6">
                                <div class="z-depth-1  egg-white row"
                                    style="display: inline-block; padding: 10px 48px 0px 48px; border: 1px solid #EEE;">

                                    <form id="purchase-form" class="col s12" name="purchase" action="/addtxn" method="post">
                                        <div class='row'>
                                            <div class='col s12'>
                                            </div>
                                        </div>

                                        

                                        <div class='row'>
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='text' name='buyerID' id='buyerID' />
                                                <label for='buyerID'>Enter the buyer ID</label>
                                            </div>
                                        </div>
                                        <div class='row' style="display: none;">
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='text' name='purchaseID' id='purchaseID' />
                                                <label for='purchaseID'>Enter the purchase ID</label>
                                            </div>
                                        </div>
                                        <div class='row' style="display: none;">
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='text' name='productID' id='productID' />
                                                <label for='productID'>Enter the product ID</label>
                                            </div>
                                        </div>
                                        <div class='row' style="display: none;">
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='number' name='purchase_quantity' id='purchase_quantity' />
                                                <label for='purchase_quantity'>Enter quantity sold</label>
                                            </div>
                                        </div>
                                        <br />
                                        
                                        <center>
                                            <div class='row'>
                                                <button type='button' name='btn_purchase'
                                                    class='col s12 btn btn-large waves-effect grey darken-3' onclick="getPurchaseProduct()">Add
                                                    Transaction</button>
                                            </div>
                                        </center>
                                        <input type="hidden" id="formname" name="formname" value="purchase">
                                    </form>
                                </div>
                                
                            </div>
                            <div class="col s6">
                                <ul class="">
                                    <!-- <form> -->
                                    {% for item in storage %}
                                    <li>
                                        
                                        
                                        <div class="egg-white row" style="padding:10px">
                                            <div class="role col s2">
                                                <label>
                                                    <input name="purchase-form-product" class="purchase-form-product" id="purchase-{{item}}-radio" type="radio" onchange="document.getElementById('purchase-{{item}}-quantity-div').style.display = this.checked ? 'block' : 'none';"/>
                                                    <span>Sell</span>
                                                </label>
                                            </div>
                                            <div class="col s6">
                                                ID: {{item}} | &nbsp;<b>{{storage[item].product_name}}</b> &nbsp;| {{storage[item].quantity|join(' ')}}
                                            </div>
                                            <div class="role col s4" id="purchase-{{item}}-quantity-div" style="display: none; margin-right: 0%;">
                                                <label>
                                                    <input id="purchase-{{item}}-quantity"  style="width:40%" name="role" type="number" min=0 />
                                                    <span>{{storage[item].quantity[1]}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <!-- </form> -->

                                </ul>
                            </div>
                            </div>
                            <!-- <center>
                                <div class="row">
                                {% for txn in txn_history %}
                                    {% if ((txn.type == 'raw' or txn.type == 'production') and storage[txn.txnID|string].quantity[0] > 0) %}
                                    <div class="col s3">
                                        <div class="z-depth-5 purchase-choose-card" onclick="populatePurchaseForm('{{txn.productID}}','null')">
                                            <b>{{txn.product_name}}</b><hr style="width: 90%;">
                                            Product ID: {{ txn.txnID }}<br>
                                            Storage: {{ storage[txn.txnID|string].quantity|join(' ') }}<br>
                                        </div>
                                    </div>
                                    {% elif (txn.type == 'bought' and storage[txn.productID|string].quantity[0] > 0) %}
                                    <div class="col s3">
                                        <div class="z-depth-5 purchase-choose-card" onclick="populatePurchaseForm('{{txn.productID}}','{{txn.purchaseID|string}}')">
                                            <b>{{txn.product_name}}</b><hr style="width: 90%;">
                                            Product ID: {{ txn.productID }}<br>
                                            Seller: {{ txn.seller }}<br>
                                            Storage: {{ storage[txn.productID|string].quantity|join(' ') }}<br>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </center> -->
                    </center>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header egg-white"><i class="material-icons">add_circle</i>Add a Production</div>
            <div class="collapsible-body home-page-card">
                <span>
                    <div class="section"></div>
                    <main>
                        <center>
                            <div class="row">
                            <div class="col s6">
                                <div class="z-depth-1 egg-white row"
                                    style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                                    <form class="col s12" id="production-form" name="product" action="/addtxn" method="post">
                                        <div class='row'>
                                            <div class='col s12'>
                                            </div>
                                        </div>

                                        

                                        <div class='row'>
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='text' name='product_name' id='product_name' />
                                                <label for='product_name'>Enter the product name</label>
                                            </div>
                                        </div>
                                        <!-- <br> -->
                                        <div class='row'>
                                            <div class='input-field col s12' style="display: none;">
                                                <input required class='validate' type='text' name='production-sub_products' id='production-sub_products-result' />
                                                <label for='production-sub_products'>Sub products</label>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='number' name='production-quantity' id='production-quantity' />
                                                <label for='production-quantity'>Enter the quantity produced</label>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='input-field col s12'>
                                                <input required class='validate' type='text' name='production-unit' id='production-unit' />
                                                <label for='production-unit'>Enter the unit (kg, L, etc)</label>
                                            </div>
                                        </div>
                                        <br />
                                        

                                        
<!-- 
                                        <div id="dynamicCheck">
                                            <button type="button" class = "btn-flat waves-effect waves-dark-grey-darken-1" onclick="createNewElement()">
                                                <i class = "material-icons left">add</i>Add Subproduct</button></td>
                                        </div>
                                        
                                        <br />
                                        <br />
                                        <div id="subproducts"></div>
                                         -->
                                        <br />
                                        <center>
                                            <div class='row'>
                                                <button type='button' name='btn_product'
                                                    class='col s12 btn btn-large waves-effect grey darken-3' onclick="getSubProducts()">Add
                                                    Transaction</button>
                                            </div>
                                        </center>
                                        <input type="hidden" id="formname" name="formname" value="production">
                                    </form>

                                    
                                </div>
                            </div>

                            <div class="col s6">
                                <ul class="">
                                    <!-- <form> -->
                                    {% for item in storage %}
                                    <li>
                                        
                                        
                                        <div class="egg-white row" style="padding:10px">
                                            <div class="role col s2">
                                                <label>
                                                    <input class="production-form-sub_product" id="sub_product-{{item}}-checkbox" type="checkbox" onchange="document.getElementById('sub_product-{{item}}-quantity-div').style.display = this.checked ? 'block' : 'none';"/>
                                                    <span>Add</span>
                                                </label>
                                            </div>
                                            <div class="col s6">
                                                ID: {{item}} | &nbsp;<b>{{storage[item].product_name}}</b> &nbsp;| {{storage[item].quantity|join(' ')}}
                                            </div>
                                            <div class="role col s4" id="sub_product-{{item}}-quantity-div" style="display: none; margin-right: 0%;">
                                                <label>
                                                    <input id="sub_product-{{item}}-quantity"  style="width:40%" name="role" type="number" min=0 />
                                                    <span>{{storage[item].quantity[1]}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <!-- </form> -->

                                </ul>
                            </div>
                            </div>
                        </center>
                </span>
            </div>
        </li>
    </ul>

    <div class="col s4 home-page-card" style="text-align: center;color: #fffcf0;">
        <h5>Transaction History</h5>
        <ul id="lifecycle" class="collection">
            {% for hist in txn_history %}
                {% if hist.type != 'sold' %}
                <li class="collection-item row" style="background-color: rgba(0, 77, 64, 0.4);">
                    <div class="col s7">
                        <p>
                            <b>Product Name: {{ hist.product_name }}</b><br>
                            
                            {% if hist.type == 'bought' %}

                                Product ID: {{ hist.productID }}<br>
                                Purchase ID: {{ hist.txnID }}<br>
                                Seller: {{ hist.seller }}<br>
                            
                            {% elif hist.type == 'production' %}

                                Product ID: {{ hist.txnID }}<br>
                                <div class="col s5">Sub-products:</div>
                                  <div class="col s7">
                                    {% for subp in hist.sub_products %}
                                      {{subp.product_name}} ({{subp.quantity}} {{subp.unit_type}})<br>
                                    {% endfor %}
                                  </div>

                            {% elif hist.type == 'raw' %}

                                Product ID: {{ hist.txnID }}<br>

                            {% endif %}
                            <!-- {{ hist}} -->
                        </p>
                    </div>
                    <div class="col s5" style="text-align: center;">
                        <p><b>{{ hist.type.upper() }}</b></p>

                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>


<script>
    var txn_history = {{ txn_history|tojson }};
    console.log('TXN History:',txn_history);
    function createNewElement() {
    // First create a DIV element.
	var txtNewInputBox = document.createElement("div");

    // Then add the content (a new input box) of the element.
	txtNewInputBox.innerHTML = "<input type='text' id='ProductID' name='ProductID' class='validate'>" + "<label for='ProductID'>Enter Product ID</label>" + "<input type='text' id='PurchaseID' name='PurchaseID' class='validate'>" + "<label for='PurchaseID'>Enter Purchase ID</label>";
    // txtNewInputBox.innerHTML = "<input type='text' id='PurchaseID'>";

    // Finally put it where it is supposed to appear.
	document.getElementById("subproducts").appendChild(txtNewInputBox);


    }

    function populatePurchaseForm(prod,pur){
        document.getElementById('productID').value = prod;
        document.getElementById('purchaseID').value = pur;
    }

    let purchase_cards = document.getElementsByClassName('purchase-choose-card');

    for(let card of purchase_cards){
        card.addEventListener('mouseover',function(){card.style.backgroundColor = 'rgba(0, 77, 64, 0.9)'})
        card.addEventListener('mouseout',function(){card.style.backgroundColor = 'rgba(0, 77, 64, 0.4)'})
    }

    function getSubProducts(){
        let subps = document.getElementsByClassName('production-form-sub_product');
        res = ''
        for(let subp_inp of subps){
            if (subp_inp.checked){
                let item_id = subp_inp.id.split('-')[1];
                let purID = null
                for(let txn of txn_history){
                    if(txn.type != 'bought') continue
                    if(String(txn.productID) == String(item_id)) {
                        purID = txn.purchaseID;
                        break;
                    }       
                }
                // if(purID == null) continue

                let quant = document.getElementById('sub_product-'+item_id+'-quantity').value;
                if(quant == ''){
                    alert('Invalid quantity!')
                    return;
                }
                res += String(item_id) + ' ' + String(purID) + ' ' + String(quant) + ' '
            }
        }
        document.getElementById('production-sub_products-result').value = res
        // alert(res)
        document.getElementById('production-form').submit()
    }


    function getPurchaseProduct(){
        let prods = document.getElementsByClassName('purchase-form-product');
        let prodID = null
        for(let prod of prods){
            if(prod.checked){
                prodID = prod.id.split('-')[1]
            }
        }
        if(prodID == null){
            alert('No product found!')
            return;
        }
        let purID = null
        for(let txn of txn_history){
            if(txn.type == 'sold') continue
            if(txn.productID != prodID) continue
            if(txn.purchaseID) purID = txn.purchaseID;

        }
        let quant = document.getElementById('purchase-'+prodID+'-quantity').value;
        if(quant == ''){
            alert('Invalid quantity!')
            return;
        }
        document.getElementById('productID').value = String(prodID);
        document.getElementById('purchaseID').value = String(purID);
        document.getElementById('purchase_quantity').value = String(quant);

        document.getElementById('purchase-form').submit()
        
    }

</script>

{% endblock %}