{% extends 'index.html' %}
{% block content %}
<div class="width-80" style="margin-left: 10%;">
    <div class="row">
        
        <div class="col s12">
                <div id="pending-validations-container" class="col s4">
                  <div class="card home-page-card" style="height: 500px;">
                    <div class="card-content white-text">
                      <span class="card-title"  style="text-align: center;">
                        Pending Validations
                      </span>
                      <hr>
                        <div id="pending-validations">
                          <ul class="collapsible">
                            {% for txn in txn_pending %}

                            <li>
                              <div class="collapsible-header teal-text text-darken-4" style="background-color: #fffcf0;"><i class="material-icons">hourglass_empty</i>ID: {{txn.txnID}} | {{txn.product_name}} |&nbsp;<b>PURCHASE</b></div>
                              <div class="collapsible-body">
                                <span>
                                  Seller: {{txn.seller_name}} (ID: {{txn.seller}})<br>
                                  Product ID: {{txn.productID}}<br>
                                  Purchase ID: {{txn.purchaseID}}<br>
                                  Quantity: {{txn.quantity}} {{txn.unit_type}}<br><br>
                                  <form action="/validate/{{txn.txnID}}" method="post">
                                    <input type="submit" value="Validate">
                                  </form>
                                    <a href="/explore/{{txn.productID}}">Explore Product</a>
                                </span>
                              </div>
                            </li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>
                    
                  </div>
                </div>

              <div id="pending-validations-container" class="col s4">
                <div class="card home-page-card" style="height: 500px;">
                  <div class="card-content white-text">
                    <span class="card-title"  style="text-align: center;">
                      Your Storage
                    </span>
                    <hr>
                      <div id="pending-validations">
                        <ul class="collapsible">
                          {% for item in storage %}

                          <li>
                            <div class="collapsible-header teal-text text-darken-4" style="background-color: #fffcf0;"><i class="material-icons">list_alt</i>ID: {{item}} | {{storage[item|string].product_name}} |&nbsp;<b>{{storage[item|string].quantity|join(' ')}}</b></div>
                            
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                  </div>
                  
                </div>
              </div>

              <div class="col s4">
                <div class="card home-page-card" style="height: 500px;">
                  <div class="card-content white-text">
                    <span class="card-title"  style="text-align: center;">
                      Transaction History
                    </span>
                    <hr>
                      <div>
                        <ul class="collapsible" id="txn_history_ul">
                          
                        {% for txn in txn_history %}
                        <li>
                          {% if (txn.type != 'sold' or txn.validated) %}
                          <div class="collapsible-header teal-text text-darken-4" style="background-color: #fffcf0;"><i class="material-icons">check</i>ID: {{txn.txnID}} | {{txn.product_name}} |&nbsp; <b>{{txn.type.upper()}}</b></div>
                          {% else %}
                          <div class="collapsible-header " style="background-color: rgba(100,100,100,0.5); color: #fffcf0;"><i class="material-icons">clear</i>ID: {{txn.txnID}} | {{txn.product_name}} |&nbsp; <b>{{txn.type.upper()}}</b></div>
                          {% endif %}
                          <div class="collapsible-body {{'teal darken-4' if (txn.type != 'sold' or txn.validated) else 'grey darken-3'}}">
                            <span>
                              {% if txn.type == 'raw' %}
                                Product ID: {{txn.txnID}}<br>
                                Quantity: {{txn.quantity}} {{txn.unit_type}}<br>
                              
                              {% elif txn.type == 'sold' or txn.type == 'bought' %}
                                Purchase ID: {{txn.txnID}}<br>
                                Product ID: {{txn.productID}}<br>
                                {% if txn.type == 'sold' %}
                                  Buyer: {{txn.buyer_name}} (ID:{{txn.buyer}})<br>
                                {% else %}
                                  Seller: {{txn.seller_name}} (ID:{{txn.seller}})<br>
                                {% endif %}
                                {% if (txn.type != 'sold' or txn.validated) == false %}
                                <b>*UNVALIDATED*</b>
                              {% endif %}

                              {% else %}
                                Product ID: {{txn.txnID}}<br>
                                Quantity: {{txn.quantity}} {{txn.unit_type}}<br>
                                Sub-products: {{txn.sub_products}}<br>

                              {% endif %}
                              
                            </span>
                          </div>
                        </li>
                        
                        {% endfor %}
                        </ul>
                      </div>
                  </div>
                  
                </div>
              </div>
          </div>
        </div>

        <center>
          <div>
            <button onclick="window.location.href = '/addtxn'" class="btn-large waves-effect grey darken-3 valign-wrapper z-depth-5" style="height:100px; width: 250px;color: #fffcf0;">Add Transaction</button>
          </div>
        </center>
    </div>
</div>


<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var options = {}
    var instances = M.Collapsible.init(elems, options);
  });

 

</script>


{% endblock %}
