{% extends 'template.html' %}
{% block content %}
 <div id="overall">
  <nav role="navigation" style="background-color: rgb(255,252,240);">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="/static/logo.png" style="height: auto; width: auto; max-height: 90px; max-width: 180px;" alt="Unsplashed background img 1"></a>
      

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Navbar Link</a></li>
      </ul>
      <a href="/" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center amber-text text-lighten-5">Genesis Trail</h1>
        <div class="row center">
          <h5 class="header col s12 light">Supply Chain Management and Organic Food Tracing App</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://i.pinimg.com/originals/80/6d/6b/806d6b97c0f3194063250e416f00084f.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <!-- <div style="background-color: #fcf8e8;"> -->
    <div style="background-color: #fffcf0;">
  <div class="container" >
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center teal-text text-darken-4">Farmers, Vendors and Manufacturers</h5>

            <p class="light center grey-text darken-2">Genesis Trail allows the above class of users to log in and add, validate or view transactions.</p>
            <div class="row center">
                <a href="/login" id="download-button" class="btn-large waves-effect waves-light teal darken-4">Log In</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center teal-text text-darken-4">Customers and Consumers</h5>

            <p class="light center grey-text darken-2">Genesis Trail allows customers to trace their final product and view organic certification.</p>
            <div class="row center">
                <input id="explore-input" type="text" style="width:30%;margin:2%" placeholder="Product ID">
                <button onclick="window.location.href = '/explore/'+document.getElementById('explore-input').value;" id="download-button" class="btn-large waves-effect waves-light teal darken-4">Explore</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1506784693919-ef06d93c28d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80" alt="Unsplashed background img 2"></div>
  </div>

  <!-- <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div> -->


  <!-- <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div> -->

  <footer class="page-footer teal darken-4">
    <div class="container">
      <div class="row">
        <div class="col s12 m8">
          <h5 class="amber-text text-lighten-5">What is Genesis Trail?</h5>
          <p class="amber-text text-lighten-5">Genesis Trail is a distributed application built on the hyperledger fabric and aims to trace a product back to its raw materials and retrieve the farmer's organic certification.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Dhruva Panyam and Rathi Kashi</a>
      </div>
    </div>
</div>
  </footer>

   {% endblock %}
